In [1]:
#import dependencies
import pandas as pd
import os
import requests
import warnings
from bs4 import BeautifulSoup as bs
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
#set executable path and browser
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======

[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389
[WDM] - Driver [/Users/gregorybrown/.wdm/drivers/chromedriver/mac64/89.0.4389.23/chromedriver] found in cache

In [3]:
#set url
url = "https://mars.nasa.gov/news"
browser.visit(url)
html = browser.html

In [4]:
soup = bs(html, 'html.parser')

In [5]:
#get li in class 'slide' and print
articles = soup.find_all('li', class_='slide')[0]
print(articles.prettify())

<li class="slide">
 <div class="image_and_description_container">
  <a href="/news/8907/nasas-curiosity-team-names-martian-hill-that-serves-as-mission-gateway/" target="_self">
   <div class="rollover_description">
    <div class="rollover_description_inner">
     The name honors recently deceased mission scientist Rafael Navarro-González, who helped lead the team that identified ancient organic compounds on Mars
    </div>
    <div class="overlay_arrow">
     <img alt="More" src="/assets/overlay-arrow.png"/>
    </div>
   </div>
   <div class="list_image">
    <img alt="Rafael Navarro Mountain on Mars  " src="/system/news_items/list_view_images/8907_PIA24544-320.jpg"/>
   </div>
   <div class="bottom_gradient">
    <div>
     <h3>
      NASA's Curiosity Team Names Martian Hill That Serves as Mission ‘Gateway'
     </h3>
    </div>
   </div>
  </a>
  <div class="list_text">
   <div class="list_date">
    April  5, 2021
   </div>
   <div class="content_title">
    <a href="/news/8907/nasas-curiosity-team-names-martian-hill-that-serves-as-mission-gateway/" target="_self">
     NASA's Curiosity Team Names Martian Hill That Serves as Mission ‘Gateway'
    </a>
   </div>
   <div class="article_teaser_body">
    The name honors recently deceased mission scientist Rafael Navarro-González, who helped lead the team that identified ancient organic compounds on Mars
   </div>
  </div>
 </div>
</li>

In [6]:
#find the headline in the 'content_title' class
headline = articles.find(class_='content_title').text
headline

"NASA's Curiosity Team Names Martian Hill That Serves as Mission ‘Gateway'"

In [7]:
#go to URL for JPL featured space image
url = "https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html"
browser.visit(url)
html = browser.html

In [8]:
soup = bs(html, 'html.parser')

In [9]:
#find header with image
image = soup.find_all('div', class_='header')[0]
print(image.prettify())

<div class="header">
 <nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">
   <img id="logo" src="image/nasa.png"/>
   <span class="logo">
    Jet Propulsion Laboratory
   </span>
   <span class="logo1">
    California Institute of Technology
   </span>
  </a>
  <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNav" data-toggle="collapse" type="button">
   <span class="navbar-toggler-icon">
   </span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
   <ul class="navbar-nav">
    <li class="nav-item active">
     <a class="nav-link" href="#">
      <i aria-hidden="true" class="fa fa-bars">
      </i>
      MENU
      <i aria-hidden="true" class="fa fa-search">
      </i>
     </a>
    </li>
   </ul>
  </div>
 </nav>
 <div class="floating_text_area">
  <h2 class="brand_title">
   FEATURED IMAGE
  </h2>
  <h1 class="media_feature_title">
   Dusty Space Cloud
  </h1>
  <br/>
  <a class="showimg fancybox-thumbs" href="image/featured/mars3.jpg" target="_blank">
   <button class="btn btn-outline-light">
    FULL IMAGE
   </button>
  </a>
 </div>
 <img class="headerimage fade-in" src="image/featured/mars3.jpg"/>
</div>

In [10]:
# find image under proper class 
featured_image = image.find('img', class_='headerimage fade-in')
featured_image = featured_image.attrs.get('src', None)
featured_image

'image/featured/mars3.jpg'

In [13]:
#print featured image url
featured_image_url = os.path.dirname(url)
print(featured_image_url)

https://data-class-jpl-space.s3.amazonaws.com/JPL_Space

In [14]:
#print root url with image
complete_image_url = f'{url}/{featured_image}'
print(complete_image_url)

https://data-class-jpl-space.s3.amazonaws.com/JPL_Space/index.html/image/featured/mars3.jpg

In [16]:
# open mars fact url and view data
mars_facts_url = "https://space-facts.com/mars/"
table = pd.read_html(mars_facts_url)
print(table)

[                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers,   Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C,                       0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers]

In [17]:
#create mars fact dataframe
mars_facts_df = table[0]
mars_facts_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [18]:
#create html table
mars_html = mars_facts_df.to_html()
mars_html = mars_html.replace('\n', '')
mars_html

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [19]:
#Visit the USGS Astrogeology site
astrogeology_url = "https://astrogeology.usgs.gov/search/map/Mars/Viking"

valles_marineris_html = requests.get(f'{astrogeology_url}/valles_marineris_enhanced')
cerberus_html = requests.get(f'{astrogeology_url}/cerberus_enhanced')
schiaparelli_html = requests.get(f'{astrogeology_url}/schiaparelli_enhanced')
syrtis_major_html = requests.get(f'{astrogeology_url}/syrtis_major_enhanced')

In [20]:
#parse beautiful soup objects

soup_vm = bs(valles_marineris_html.text, 'html.parser')
soup_cb = bs(schiaparelli_html.text, 'html.parser')
soup_sc = bs(schiaparelli_html.text, 'html.parser')
soup_sm = bs(syrtis_major_html.text, 'html.parser')

In [21]:
#create list for dictionaries
astrogeology_image_urls = []

In [23]:
# get teh class that has the needed info
results_vm = soup_vm.find_all('div', class_='container')
results_cb = soup_cb.find_all('div', class_='container')
results_sc = soup_sc.find_all('div', class_='container')
results_sm = soup_sm.find_all('div', class_='container')

In [24]:
#set up loop
astrogeology_results = [results_vm, results_cb, results_sc, results_sm]

In [25]:
#quit browser
browser.quit()